.root {
  height: 80vh;
  width: 80%;
  margin: 10vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

@media screen and (max-width: 600px) {
  .root {
    height: 90%;
    width: 90%;
    flex-direction: column;
  }
}

.day {
  border: 2px solid black;
}

.night {
  border: 2px solid white;
}
