.root {
  height: 100%;
  width: 100%;
  font-size: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.filter {
  font-family: var(--numbers);
  /*background-color: rgba(0, 0, 0, 0.534);*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.img {
  height: 100px;
  width: auto;
}

.timeContainer {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.days {
  height: 40%;
  width: 100%;
}
