.root {
  height: 100%;
  width: 60%;
}

@media screen and (max-width: 600px) {
  .root {
    width: 100%;
    height: 50%;
  }
}

.filter {
  font-size: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.img {
  height: 100px;
  width: auto;
}

.timeContainer {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .timeContainer {
    justify-content: center;
  }
}

.cities {
  width: 100%;
  height: 30%;
}
