.city {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cityname {
  font-size: 2rem;
}

.imgCont {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.borderDay {
  border-left: 2px solid black;
}

.borderNight {
  border-left: 2px solid white;
}

.img {
  height: 40px;
  width: auto;
  border: 1.5px solid rgb(0, 0, 0);
  border-radius: 50%;
}
