.root {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(31, 31, 31);
}

.p {
  font-size: 10px;
}

.dia {
  color: greenyellow;
}

.noche {
  color: white;
}
