* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--numbers);
  color: white;
}
:root {
  --morning-color: #fdb813;
  --noon-color: #00aeef;
  --afternoon-color: #ff7600;
  --night-color: #193366;
  --midnight-color: #000000;

  --numbers: "Chakra Petch", sans-serif;
}
