.root {
  height: 100vh;
  width: 100%;
  /*background-image: linear-gradient(orange, purple);*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .root {
    height: 95vh;
  }
}
