.root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.morning {
  background-color: var(--morning-color);
}

.noon {
  background-color: var(--noon-color);
}

.afternoon {
  background-color: var(--afternoon-color);
}

.night {
  background-color: var(--night-color);
}

.midnight {
  background-color: var(--midnight-color);
}
